{% extends 'layout/baseform.html' %}

{% block title %}
     <h2>New Item</h2>

{% endblock%}

{% block content %}
        <form action="{% url 'item_add' %}" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        Name: <input type="text" name='name' > <br>
            <hr>
        Description: <input type="text" name="description" > <br>
                <hr>
        Price: <input type="number" name="price" > <br>
                <hr>

        Department: <select name="department_id" id="" multiple> <br>
                <option value="-1" selected>Select department</option>
                {% for dep in all_departments %}
                <option value="{{ dep.id }}">{{ dep.title }}</option>
                {% endfor %}

        </select> <br>
                <hr>
            Images:    <div id="images">
        </div>
        <input type="button" name="add_image" id="add_image" value="Add Image">
            <br>
                <hr>
            viewable:<input type="checkbox" name="visable">
        <button>Save</button>
    </form>

<script>
    document.getElementById("add_image").onclick=function (ev) {

        var image=document.getElementById("images");

        var preview=document.createElement("img");
        preview.style.width="auto";
        preview.style.height="100px";


        var newInput=document.createElement("input");
        newInput.type="file";
        newInput.name="file[]";


        var br=document.createElement("br");
        var br1=document.createElement("br");

        newInput.onchange=function (ev1) {
            if(this.files && this.files[0]){
                var fileReader=new FileReader();

                fileReader.onload=function (ev2) {
                    preview.src=ev2.target.result;
                };

                fileReader.readAsDataURL(this.files[0])
            }
        };

        image.appendChild(preview);
        image.appendChild(newInput);
        image.appendChild(br);
        image.appendChild(br1);

    }
</script>
{% endblock %}
