{% extends 'layout/base.html' %}

{% load static %}

{% block title %}
<h2>Item Mangement</h2>

{% endblock%}

{% block content %}

<tr>
      <a href="/item/add">New Item</a>
  </tr>
 {% for item in all_items %}
    <tr>
              <td>{{ forloop.counter0 }}</td>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.Emp}}</td>
        <td>{{item.email}}</td>

<!--        //one to many-->
<!--        <td>{{ item.department.title }}</td>-->

        <!--        many to many-->
           <td>
            {% for department in item.department.all %}
            <span>{{ department }}</span><br>
            {% endfor %}
        </td>
        <td>
            {% for img in all_images %}

             {% if img.product_id_id == item.id %}
                <img src="{{ img.image.url }}" width="100" height="100"/>
            {% endif %}

        {% endfor %}

        </td>


        <td>
            <a href="item/{{ item.id }}">Read</a>
            <a href="{% url 'item_delete' item.id %}">Delete</a>
            <a href="{% url 'item_edit'  item.id %}">Edit</a>

        </td>
    </tr>
    {% endfor %}

{% endblock %}